

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    color: white;
        }
  
.about {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    color: white;
    margin: 0;
  }
