


.about {
    height: 20px;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;
    color: white;
    
  }
  .academics {
    height: 20px;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;
    color: white;
   
  }
  .alumni {
    height: 20px;
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;
    color: white;
    
  }