
.modal {
  display: none; /* Varsayılan olarak gizlidir */
  position: fixed; /* Yerinde kal */
  z-index: 1; /* Üstte */
  left: 0;
  top: 0;
  width: 100%; /* Ful Genişlik */
  height: 100%; /* Ful Yükseklik */
  overflow: auto; /* Gerekirse kaydırmayı etkinleştir */
  background-color: rgb(59, 209, 134); /* Yedek renk */
  background-color: rgba(214, 112, 112, 0.4); /* Siyah w / opaklık */
}
/* İçerik / Kutu */
.modal-content {
  background-color: #0c0606;
  margin: 15% auto; /* % 15 üstten ve ortalanmış */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Ekran boyutuna bağlı olarak daha fazla veya daha az olabilir */
}

/* Kapat Düğmesi */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.about {
  background-color: #bdba1e;
  color: white;
}

.h1 {

  font: 1em sans-serif;
  position: right;
 
}

.table, th, td {
    border: 1px solid rgb(209, 154, 83);
    border-collapse: collapse;
}